<!DOCTYPE html>
<html>
  <title>Learning Bo</title>

  <body>
    <form action="/names" method="POST">
      <input type="text" name="firstName" placeholder="First Name" required>
      <input type="text" name="lastName" placeholder="Last Name" required>
      <input type="submit" value="Post Name"/>
    </form>

    <table>
      <thead>
        <tr>
          <th> Names </th>
        </tr>
      </thead>
      <tbody>
        {{range .}}
        <tr>
          <td> {{.FullName}} </td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </body>
</html>
