body {
  background-color: #009688;
}

canvas {
  width: 100%;
}

.text-muted {
  color: #b2dfdb;
}

.btn-primary {
  background-color: #8bc34a;
  border-color: #72a239;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:focus:active,
.btn-primary:hover:active {
  background-color: #709c3d;
  border-color: #5b8030;
}

.content-wrap {
  background-color: #ffffff;
  color: #212121;
  padding-top: 50px;
  padding-bottom: 30px;
}

.navbar-default {
  height: 50px;
}

.navbar-brand {
  color: #00796b !important;
}

.nav-username {
  float: right;
  padding: 15px 0;
}

.nav-username span {
  font-weight: bold;
}

.nav-disconnect {
  float: right;
  padding-top: 8px;
  margin-left: 20px;
}

h1 {
  margin-top: 0;
}

.row-align-bottom > div {
  float: none;
  display: inline-block;
  font-size: 14px; /* if using LESS it's quicker to just use @font-size-base */
}

.row-align-bottom > div:last-child {
  vertical-align: bottom;
}

.row-play {
  margin-top: 30px;
}

.row-add .form-group {
  margin-bottom: 15px;
}

.row-add .form-group select {
  width: 100%;
}

.form-header {
  font-size: 1.2em;
}

.footer {
  padding-top: 10px;
  padding-bottom: 30px;
}

.footer .list-inline a {
  color: #ffffff;
}
